/* Desktop */
header {
    background:lightblue;
    max-width:1160px; /* 가변형너비적용 */
    height:100px; margin:0 auto;
    display:flex; flex-flow:row nowrap; 
    align-items:center; justify-content:space-between;
    position: relative; /* m_nav_open absolute 부모기준 */
}
header h1 {
    background:lightgoldenrodyellow; 
    width:100px; height:35px;
}
header h1 a {}
header h1 a img {width:100%;}
header nav {
    background:lightcoral;
}
header nav ul {
    display:flex; flex-flow:row nowrap;
}
header nav ul li {margin-right:20px;}
header nav ul li:last-child {margin-right:0;}
header nav ul li a {
    font-size:1.33rem; letter-spacing:-0.02em;
}
/* 모바일 메뉴 - 데스크탑에서 숨기기 */
header nav .m_nav {display:none;}
/* header .m_nav_open {display:none;} */
header .m_nav_open {
    background:lightpink; 
    display:none; /*클릭했을때 보이게 처음엔 숨기기*/
    position:absolute; top:100px; /*header밖으로 빼기위해 position주기*/
    /* width:calc(100% - 30px); */
    width: 100%;
    padding:40px 0;
}
header .m_nav_open #close {
    font-size: 24px; /* 폰트어썸으로 가져왔기 때문에 font-size로 적용 */
    position:absolute; top:15px; right:15px;
}
header .m_nav_open ul {
    background:lightgoldenrodyellow;
    text-align:center;
}
header .m_nav_open ul li {margin-bottom:30px;}
header .m_nav_open ul li a {
    font-size:1.33rem; letter-spacing:-0.02em;
}
/* main */
main {}
/* main-1. swiper-slide */
/* .swiper 플러그인의 정식명칭 클래스는 웹 페이지 1장에서 swiper가 2개 이상 들어올 경우 디자인이 강제로 중복될 수 있으므로 개별 아이디 및 클래스 사용해서 선택자를 만들고 디자인한다. */
main #pawin_slide {
    width:1160px; height:650px;
    background:lightyellow;
}
main #pawin_slide .swiper-wrapper {}
main #pawin_slide .swiper-wrapper .swiper-slide {}
main #pawin_slide .swiper-wrapper .slide1 {
    background:url(https://picsum.photos/id/10/1160);
}
main #pawin_slide .swiper-wrapper .slide2 {
    background:url(https://picsum.photos/id/12/1160);
}
main #pawin_slide .swiper-wrapper .slide3 {
    background:url(https://picsum.photos/id/17/1160);
}
main #pawin_slide .swiper-wrapper .slide4 {
    background:url(https://picsum.photos/id/29/1160);
}
/* 이전,다음버튼 묶음 선택자 */
main #pawin_slide .swiper-button-prev,
main #pawin_slide .swiper-button-next {
    width:40px; height:40px;
}
main #pawin_slide .swiper-button-prev {
    background:url(../images/prev.png) no-repeat;
}
main #pawin_slide .swiper-button-next {
    background:url(../images/next.png) no-repeat;
}
/* swiper-slide 라이브러리에서 기본제공하는 이전,다음 숨기기 */
main #pawin_slide .swiper-button-prev::after,
main #pawin_slide .swiper-button-next::after {display:none;}




/* ---------------------------------------------------------------------------- */
/* 1160*300 slide*3 swiper 생성  */
main #slide_2 {
    width:1160px; height:300px;
    background:gray;
}
main #slide_2 .swiper-wrapper {}
main #slide_2 .swiper-wrapper .swiper-slide {}
main #slide_2 .swiper-wrapper .slide_2_1 {
    background:url(https://picsum.photos/id/88/1600)
}
main #slide_2 .swiper-wrapper .slide_2_2 {
    background:url(https://picsum.photos/id/87/1600)
}
main #slide_2 .swiper-wrapper .slide_2_3 {
    background:url(https://picsum.photos/id/104/1600)
}
/* 이전,다음버튼 묶음 선택자 */
main #slide_2 .swiper-button-prev,
main #slide_2 .swiper-button-next {width:40px; height:40px;}
/* 이전,다음버튼 개별 선택자 */
main #slide_2 .swiper-button-prev {
    background:url(../images/prev_2.png) no-repeat;
}
main #slide_2 .swiper-button-next {
    background:url(../images/next_2.png) no-repeat;
}
/* swiper-slide 라이브러리에서 기본제공하는 이전,다음 숨기기 */
main #slide_2 .swiper-button-prev::after,
main #slide_2 .swiper-button-next::after {display:none;}