/* Desktop */
header {
    background:lightblue;
    max-width:1160px; /* 가변형너비적용 */
    height:100px; margin:0 auto;
    display:flex; flex-flow:row nowrap; 
    align-items:center; justify-content:space-between;
    position: relative; /* m_nav_open absolute 부모기준 */
}
header h1 {
    background:lightgoldenrodyellow; 
    width:100px; height:35px;
}
header h1 a {}
header h1 a img {width:100%;}
header nav {
    background:lightcoral;
}
header nav ul {
    display:flex; flex-flow:row nowrap;
}
header nav ul li {margin-right:20px;}
header nav ul li:last-child {margin-right:0;}
header nav ul li a {
    font-size:1.33rem; letter-spacing:-0.02em;
}
/* 모바일 메뉴 - 데스크탑에서 숨기기 */
header nav .m_nav {display:none;}
/* header .m_nav_open {display:none;} */
header .m_nav_open {
    background:lightpink; 
    display:none; /*클릭했을때 보이게 처음엔 숨기기*/
    position:absolute; top:100px; /*header밖으로 빼기위해 position주기*/
    /* width:calc(100% - 30px); */
    width: 100%;
    padding:40px 0;
}
header .m_nav_open #close {
    font-size: 24px; /* 폰트어썸으로 가져왔기 때문에 font-size로 적용 */
    position:absolute; top:15px; right:15px;
}
header .m_nav_open ul {
    background:lightgoldenrodyellow;
    text-align:center;
}
header .m_nav_open ul li {margin-bottom:30px;}
header .m_nav_open ul li a {
    font-size:1.33rem; letter-spacing:-0.02em;
}
/* main */
main {}
/* main-1. swiper-slide */
/* .swiper 플러그인의 정식명칭 클래스는 웹 페이지 1장에서 swiper가 2개 이상 들어올 경우 디자인이 강제로 중복될 수 있으므로 개별 아이디 및 클래스 사용해서 선택자를 만들고 디자인한다. */
/* swiper-slide 반응형 설계를 할 경우 */
/* swiper-slide 자체가 가변형 기능을 내장하고 있기 때문에 가장바깥쪽 swiper영역틀 기준으로 가변크기를 넣어주면 자동으로 반응형에 맞춰지는 슬라이드가 완성된다. */
main #pawin_slide {
    max-width:1160px; height:650px;
    background:lightyellow;
}
main #pawin_slide .swiper-wrapper {}
main #pawin_slide .swiper-wrapper .swiper-slide {}
main #pawin_slide .swiper-wrapper .slide1 {
    background:url(../images/pawin_slide_desktop.jpg) center;
}
main #pawin_slide .swiper-wrapper .slide2 {
    background:url(https://picsum.photos/id/12/1160);
}
main #pawin_slide .swiper-wrapper .slide3 {
    background:url(https://picsum.photos/id/17/1160);
}
main #pawin_slide .swiper-wrapper .slide4 {
    background:url(https://picsum.photos/id/29/1160);
}
/* 이전,다음버튼 묶음 선택자 */
main #pawin_slide .swiper-button-prev,
main #pawin_slide .swiper-button-next {
    width:40px; height:40px;
}
/* swiper-slide prev,naxt 기본 css (position:abdolute)내장 */
/* 위치를 움직이고 싶다면 position속성 추가작성없이 방향값추가 */
main #pawin_slide .swiper-button-prev {
    background:url(../images/prev.png) no-repeat;
    left: 20px;
}
main #pawin_slide .swiper-button-next {
    background:url(../images/next.png) no-repeat;
    right: 20px;
}
/* swiper-slide 라이브러리에서 기본제공하는 이전,다음 숨기기 */
main #pawin_slide .swiper-button-prev::after,
main #pawin_slide .swiper-button-next::after {display:none;}




/* ---------------------------------------------------------------------------- */
/* 1160*300 slide*3 swiper 생성  */
main #slide_2 {
    max-width:1160px; height:300px;
    background:gray;
}
main #slide_2 .swiper-wrapper {}
main #slide_2 .swiper-wrapper .swiper-slide {}
main #slide_2 .swiper-wrapper .slide_2_1 {
    background:url(https://picsum.photos/id/88/1600)
}
main #slide_2 .swiper-wrapper .slide_2_2 {
    background:url(https://picsum.photos/id/87/1600)
}
main #slide_2 .swiper-wrapper .slide_2_3 {
    background:url(https://picsum.photos/id/104/1600)
}
/* 이전,다음버튼 묶음 선택자 */
main #slide_2 .swiper-button-prev,
main #slide_2 .swiper-button-next {width:40px; height:40px;}
/* 이전,다음버튼 개별 선택자 */
main #slide_2 .swiper-button-prev {
    background:url(../images/prev_2.png) no-repeat;
}
main #slide_2 .swiper-button-next {
    background:url(../images/next_2.png) no-repeat;
}
/* swiper-slide 라이브러리에서 기본제공하는 이전,다음 숨기기 */
main #slide_2 .swiper-button-prev::after,
main #slide_2 .swiper-button-next::after {display:none;}
/* pawin-slide2 */
main #pawin_slide2 {
    max-width: 1160px; margin: 0 auto;
    /* slide대상으로 img태그를 삽입한 경우 높이값은 이미지 태그크기만큼 자동으로 설정되므로 별도의 높이값은 작성할 필요가 없다. */
}
main #pawin_slide2 .swiper-wrapper .swiper-slide img {width: 100%;} /*이미지를 width에따라 
크기 달라지게 적용하기위해 부모에 max-width적용하고 이미지에width100%적용하기*/

/* 입양정보 slide */
main .dog_info {
    padding: 100px 0 50px;
    font-size: 2rem; text-align: center;
}
main #dog_info_slide {
    background:lightblue; /*확인용 색 넣기*/
    max-width: 1160px; margin: 0 auto;
    width:calc(100% - 30px);
}
main #dog_info_slide .swiper-wrapper .swiper-slide img {width:100%;}